<settings>
	<setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
		<settingConfig type="alphaNumeric" readonly="true" />
	</setting>
	<setting propertyKey="@Properties.useLocation" title="@Strings.UseLocation">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.useWatchLanguage" title="@Strings.UseWatchLanguage">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.forecastLanguage" title="@Strings.ForecastLanguage">
		<settingConfig type="list">
			<listEntry value="1">@Strings.Norwegian</listEntry>
			<listEntry value="2">@Strings.English</listEntry>
		</settingConfig>
	</setting>
</settings>
