<settings>
    <setting propertyKey="@Properties.enableBackgroundFetching" title="@Strings.EnableBackgroundFetching">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.useWatchLanguage" title="@Strings.UseWatchLanguage">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.forecastLanguage" title="@Strings.ForecastLanguage">
        <settingConfig type="list">
            <listEntry value="1">@Strings.Norwegian</listEntry>
            <listEntry value="2">@Strings.English</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.resetSubscription" title="@Strings.ResetSubscription">
        <settingConfig type="boolean" />
    </setting>
</settings>
