services:
  db:
    container_name: skredvarsel-garmin-db
    image: imresamu/postgis:16-3.5.2-bullseye
    restart: always
    environment:
      POSTGRES_PASSWORD: dev
    ports:
      - 5432:5432
    volumes:
      - postgres-data-volume:/var/lib/postgresql/data:z
      - ./postgres-init:/docker-entrypoint-initdb.d

volumes:
  postgres-data-volume:
    driver: local
